.board-container {
  display: flex;
  align-items: center;
  max-width: 100vw;
  flex-direction: column;
  padding: var(--padding-medium);

  .empty-list-text {
    text-align: center;
    color: var(--ancent-color-1);
    font-size: var(--font-size-medium);
  }

  .heading {
    text-align: center;
    color: var(--ancent-color-1);
  }

  .column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--row-gap-small);
  }
}
