.ant-modal-root {
  .ant-modal-mask {
    opacity: 0.7;
  }

  .ant-modal-mask,
  .ant-modal,
  .ant-modal-content,
  .ant-modal-header {
    background-color: var(--background-color-1);
  }

  .ant-modal-content {
    color: var(--text-color);
    border-radius: var(--border-radius);

    .ant-modal-header {
      color: var(--text-color);

      .ant-modal-title {
        color: var(--text-color);
      }
    }
  }
}
