.board-skeleton-container {
  display: flex;
  align-items: center;
  max-width: 100vw;
  flex-direction: row;
  padding: var(--padding-medium);
  gap: var(--row-gap-small);

  .column-skeleton {
    background-color: var(--background-color-2);
    border-radius: var(--border-radius-small);
    width: 100%;
    height: 600px;

    .ant-skeleton-input {
      width: 100%;
      height: 100%;
    }
  }
}
