.priority-filter-container {
  padding: var(--padding);
  display: flex;
  margin-top: var(--margin);
  gap: var(--row-gap-small);
  align-items: center;
  max-width: 100%;
  font-size: var(--font-size-smaller);

  .ant-checkbox-wrapper {
    font-size: var(--font-size-smaller);
  }
}

@media screen and (max-width: 378px) {
  .priority-filter-container {
    flex-direction: column;
    align-items: start;
  }
}
